@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://cdn.rawgit.com/young-ha/webfont-archive/master/css/Godo.css');

div,
button,
input,
h1,
p,
table,
tr,
i,
img,
td {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
    /* border: 1px solid red; */
}

#wrap {
    width: min(500px, 90%);
    margin: 15vh auto 0;
    font-family: 'Patua One', 'Godo', sans-serif;
    /* border: 0; */
}

#wrap #title {
    --logo_height: min(60px, 11.5vw);
    text-align: center;
    padding: calc(var(--logo_height) * 4/6) 0;
    font-size: 0;
    /* border: 0; */
}

#wrap #title #logo {
    display: inline-block;
    background-color: #333;
    width: var(--logo_height);
    height: var(--logo_height);
    color: white;
    font-size: calc(var(--logo_height) * 6/8);
    font-weight: bold;
    line-height: var(--logo_height);
    border-radius: calc(var(--logo_height) * 1/8);
    /* border: 0; */
}

#wrap #title h1 {
    display: inline-block;
    margin-left: calc(var(--logo_height) * 2/8);
    font-size: calc(var(--logo_height) * 7/8);
    font-weight: bold;
    /* border: 0; */
}

#wrap #searchUI {
    --btn_height: 40px;
}

#wrap #searchUI table tr td:nth-of-type(1) {
    width: 100%;
}

#wrap #searchUI table tr td:nth-of-type(1) #searchText {
    font-size: 18px;
    height: var(--btn_height);
    text-align: center;
    background-color: white;
}


#wrap #searchUI table tr td:nth-of-type(2) {
    width: var(--btn_height);
}

#wrap #searchUI .searchBtn {
    width: var(--btn_height);
    height: var(--btn_height);
    margin-left: 5px;
    border-radius: 5px;
    background-color: #333;
    font-size: 20px;
    border: 0;
}

#wrap #searchUI .searchBtn i {
    color: white;
}

#wrap #engines {
    /* font-size: 0; */
    text-align: center;
}

#wrap #engines .engine {
    --logo_size: min(55px, 11vw);
    vertical-align: middle;
    display: inline-block;
    font-size: calc(var(--logo_size) * 45/60);
    height: var(--logo_size);
    width: var(--logo_size);
    line-height: var(--logo_size);
    border-radius: calc(var(--logo_size) * 10/60);
    margin: calc(var(--logo_size) * 40/60) calc(var(--logo_size) * 12/60);
    background-color: firebrick;
    filter: grayscale(0.8);
}

#wrap #engines .engine i {
    color: white;
}

#wrap footer {
    --text_size: min(15px, 3vw);
    padding: calc(var(--text_size) * 1/3) 0;
    font-size: var(--text_size);
    text-align: center;
}
